html,body{overflow:hidden;height:100%}.fullpage{padding-bottom:0;margin:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.fullpage .main-header{min-width:0}.fullpage .mobile-action-button{display:block;width:48%;float:left;text-align:center;margin:0 4% 10px 0}.fullpage .mobile-action-button:nth-child(even){margin-right:0}.fullpage .jump-view{width:48%;margin:0 4% 10px 0;float:left}.fullpage .jump-view:nth-child(even){margin-right:0}.fullpage .jump-view:nth-child(3){display:none}.fullpage .jump-label{display:block}.oldie-header{display:none;padding:5px;background:var(--cp-color-20);color:var(--cp-color-1)}html.oldie .oldie-header{display:block}html.oldie .main-header{display:none}#result-iframe-wrap{-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;height:100%;position:relative;overflow:auto;-webkit-overflow-scrolling:touch}html.oldie #result-iframe-wrap{height:100%;height:calc(100% - 32px)}#result{position:absolute;top:0;left:0;border:0;background:var(--cp-color-1);display:block;width:100%;height:100%}@media(max-width:550px){@supports(height:100svh){#result{height:calc(100svh - var(--cp-header-height-small))}}}#full-view-ad{position:absolute;left:50%;bottom:0;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;z-index:1}
    html { font-size: 15px; }
    html, body { margin: 0; padding: 0; min-height: 100%; }
    body { height:100%; display: flex; flex-direction: column; }
    .referer-warning {
      background: black;
      box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
      padding: 0.75em;
      color: white;
      text-align: center;
      font-family: var(--cp-font-family);
      line-height: 1.2;
      font-size: 1rem;
      position: relative;
      z-index: 2;
    }
    .referer-warning h1 { font-size: 1.2rem; margin: 0; }
    .referer-warning a { color: #56bcf9; } /* $linkColorOnBlack */
body:hover:after {
  content: "Donnazmi Was Here";
  position: absolute;
  left: 0; right: 0; bottom: 1vh;
  color: #1C1C1C;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font: 700 9px/14px Tahoma, sans-serif;
  @include animation(tip 2.5s forwards);
}

@include keyframes(tip) {
  0%, 100% { opacity: 0; }
  10%, 80% { opacity: 1; }
}
